/* Animations */
@keyframes fade {
  0%   {opacity:0}
  100% {opacity:100}
}


/* Custom fonts */
@font-face {
  font-family: 'Caslon Antique';
  src: url(Caslo-an.ttf);
}


/* General styling */
*{
    color:white;
    font-family: 'Caslon Antique';
    font-size:102%;
    background-color: black;
    animation-name: fade;
    animation-duration: 4s;
    border-radius:10px;
}


/* Author and its children tags */
author {
     display: flex;
     flex-direction: column;
     border: 1px solid white;
     margin-top:10px;
     padding:10px;
     padding-bottom:40px;
     width:97vw;
}

author>title{
    visibility:hidden;
}


author > name:before{
    content: "Name:   "
}

author > surname:before{
    content: "Surname:   "
}

author > index:before{
    content: "Index:   "
}

author > *:hover{
    color:blue;
    transition: color 0.5s linear;
    -o-transition: color 0.5s linear; /* opera */
    -ms-transition: color 0.5s linear; /* IE 10 */
    -moz-transition: color 0.5s linear; /* Firefox */
    -webkit-transition: color 0.5s linear; /*safari and chrome */
}


/* Army, armyData and its children elements */
army {
    display:grid;
    width:98vw;
    border:1px solid white;
    text-align: left;
}

armyData{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1vw;
    border: 1px solid white;
    width: 200px;
    padding: 1vw;
    padding-top:40px;
}

armyData > name:before{
    content:"Army: "
}

armyData > allegiance:before{
    content:"Allegiance: "
}

armyData >  description{
    visibility: hidden;
}

armyData>*:hover{
    color:blue;
    transition: color 0.5s linear;
    -o-transition: color 0.5s linear; /* opera */
    -ms-transition: color 0.5s linear; /* IE 10 */
    -moz-transition: color 0.5s linear; /* Firefox */
    -webkit-transition: color 0.5s linear; /*safari and chrome */
}


/* Unit, unitData and their children elements */
unit {
    margin-left:1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top:5vh;
    margin-bottom:5vh;
}
unitData{
    display:flex;
    flex-direction: column;
    border:1px solid white;
    padding: 1vw;
}

unitData>name:first-letter{
    font-size: 140%;
}

unitData[compulsory="true"]{
    border:1px solid gold;

}

unitData[compulsory="false"]{
    border:1px solid blue;

}

unitData>*:hover{
    color:blue;
    transition: color 0.5s linear;
    -o-transition: color 0.5s linear; /* opera */
    -ms-transition: color 0.5s linear; /* IE 10 */
    -moz-transition: color 0.5s linear; /* Firefox */
    -webkit-transition: color 0.5s linear; /*safari and chrome */
}

unit > miniature {
    display:flex;
    flex-direction: column;
    border: 1px solid white;
}

unit > miniature:hover {
    background-color:blue;
}


/* Miniature and its children elements */
miniature > *{
    color: white;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.1);

}

miniature > *:hover{
    color:gold;
    transition: color 1s linear;
    -o-transition: color 1s linear; /* opera */
    -ms-transition: color 1s linear; /* IE 10 */
    -moz-transition: color 1s linear; /* Firefox */
    -webkit-transition: color 1s linear; /*safari and chrome */
    background-color: #090979;
    transition: background-color 1s linear;
    -o-transition: background-color 1s linear; /* opera */
    -ms-transition: background-color 1s linear; /* IE 10 */
    -moz-transition: background-color 1s linear; /* Firefox */
    -webkit-transition: background-color 1s linear; /*safari and chrome */
}

miniature > name:before{
    display: block;
    content: "Name: "
}

miniature > assemblyDate:before{
    display: block;
    content: "Assembled: "
}


miniature > paintDate:before{
    display: block;
    content: "Painted: "
}

movement:before {
    content:"Movement: "
}
BS:before{
 content: "BS: ";
}

WS:before{
 content: "WS: ";
}

S:before{
 content: "S: ";
}

T:before{
 content: "T: ";
}

Ld:before{
 content: "Ld: ";
}

Save:before{
    content:"Save: "
}

Save:after{
    content:"+"
}
pointCost:before{
 content: "Point Cost: ";
}

role:before{
    content:"Unit role: "
}